* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/jungle.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100vh;
    background-position: center center;
    background-color: #0b3a5a;
}


/* ......................................Buttons */

.btn {
    background-color: #63ff5a;
    color: #0b3a5a;
    width: 40%;
    height: 65%;
    margin: auto;
    border: solid 2px #0b3a5a;
    box-shadow: 3px 3px;
    font-family: 'Fredoka One', cursive;
    font-size: medium;
    cursor: pointer;
}

/* ......................................Title box */

#title-box {
    background-color: #0b3a5a;
    width: fit-content;
    max-width: 90%;
    margin: auto;
    margin-top: 50px;
}

h1 {
    width: auto;
    font-family: 'Fredoka One', cursive;
    color: #63ff5a;
    font-size: 3em;
    letter-spacing: 0.3em;
    text-align: center;
}


/* ......................................Info box */

#info-box {
    width: 500px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}


/* ......................................Game box */

#game-box {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: #0b3a5acf;
    margin: auto;
}

.card {
    width: 23%;
    height: 23%;
    position: relative;
    margin: 1%;
    transform-style: preserve-3d;
    cursor: pointer;

}

.front-face {
    transform: rotateY(180deg);
}

.card.turn{
    transform: rotateY(180deg);
}


.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


/* ......................................Modals */

.rules-modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.win-modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal {
    border: solid 10px #63ff5a;
    font-family: 'Fredoka One', cursive;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 10%;
    padding: 50px;
    width: fit-content;
    line-height: 200%;
}

.modal-header {
    text-align: center;
    border-bottom: solid #0b3a5a;
    padding: 20px;
    margin-bottom: 50px;
}

.modal-footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* code to center button found at https://www.w3schools.com/howto/howto_css_center_button.asp */
}

.close-modal {
    padding: 10px;
}

