* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/jungle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-color: #0b3a5a;
}

/* ......................................Title box */

#title-box {
    background-color: #0b3a5a;
    width: fit-content;
    max-width: 90%;
    margin: auto;
    margin-top: 50px;

}

h1 {
    font-family: 'Fredoka One', cursive;
    color: #63ff5a;
    font-size: 3em;
    letter-spacing: 0.3em;
    text-align: center;
}


/* ......................................Info box */

#info-box {
    width: 500px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.btn {
    width: 40%;
    height: 80%;
    margin: auto;
}


/* ......................................Game box */

#game-box {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: #0b3a5acf;
    margin: auto;
}

.card {
    width: 23%;
    height: 23%;
    position: relative;
    margin: 1%;
    transform-style: preserve-3d;

}

.front-face {
    transform: rotateY(180deg);
}

.card.turn{
    transform: rotateY(180deg);
}


.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
